<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<title>Login</title>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />
<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link type="text/css" rel="stylesheet" href="style/style.css" />
</head>
<body>
<header>
	  <nav>
	    	<div class="nav-wrapper green" id="menu">
	    	<a href="/" class="brand-logo center">Login</a>
	      	<ul id="nav-mobile" class="left hide-on-med-and-down">
	        <li><a href="/" class="waves-effect waves-light btn "><i
			class="material-icons left">arrow_back</i>Voltar</a></li>
			</ul>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
	        <li><a href="/createUser" class="waves-effect waves-light btn "><i
			class="material-icons right">create</i>Criar Conta</a></li>		
	      </ul>
    </div>
  </nav>
	</header>
	<div class="container login">
	<form class="container" th:action="@{/login}" method="post">
	<fieldset>
		<div class="row">
			<div th:if="${param.error}" class="alert alert-danger">
				Usuário ou senha incorreto
			</div>
			<div th:if="${param.logout}" class="alert alert-success">
				Usuario deslogado.
			</div>
		</div>
		<div class="row">
			<div class="input-field col s6">
				<input type="text" name="username"/>
				<label for="username">login</label>
			</div>
			<div class="input-field col s6">
				<input type="password" name="password"/>
				<label for="password">Senha</label>
			</div>
		</div>
		<button class="waves-effect waves-light btn" type="submit">Entrar</button>
	</fieldset>
	</form>
	</div>
		<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>