<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<title>Cadastro de Proprietário</title>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />
<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link type="text/css" rel="stylesheet" href="style/style.css" />
</head>
<body>
<header>
	  <nav>
	    	<div class="nav-wrapper green" id="menu">
	    	<a href="/" class="brand-logo center">Cadastro de Proprietário</a>
	      	<ul id="nav-mobile" class="left hide-on-med-and-down">
	        <li><a href="" class="waves-effect waves-light btn "><i
			class="material-icons left">arrow_back</i>Voltar</a></li>
	      </ul>
    </div>
  </nav>
	</header>
	<div class="container create">
	<form class="container" method="post">
		<div class="row">
			<div class="input-field col s6">
				<input type="text" name="name"/>
				<label for="name">Nome do Proprietário</label>
			</div>
			<div class="input-field col s6">
				<input type="text" name="address"/>
				<label for="address">Endereço</label>
			</div>
		</div>
		<button class="waves-effect waves-light btn" type="submit">Salvar</button>
	</form>
	</div>
		<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>